/* 45b8d7 - celeste */
/* cfedf5 - celeste claro */
/* bbcfe8 - celeste grisaceo */

/* DEFAULT */
html {
    background-color: #fff;
    color: #555;
    font-family: 'Noto', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.body { overflow-x: hidden;}

/* HEADER */

.menu {
    justify-content: flex-end;
    font-weight: 500;  
}

.menu-links {
    height: 50px;
}

.navbar-toggler {
   color: #555; 
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 200%;
    color: #333;
}
.logo:hover {
    color: #333;
}

.logo img {
   width: 50px;
   height: 100%; 
   margin-right: 10px;
}

.menu a {
    color: #333;
}

.menu a:hover,
.menu a:active { border-bottom: 2px solid #45b8d7; }

.menu .dropdown-item:hover {
    border-bottom: none;
    background-color: rgba(0,123,255,.25);
}

/* CONTENT */
.cover {
    background-image: linear-gradient(rgb(255 255 255) 0%, rgb(108 181 238 / 15%) 18%, rgb(0 0 0 / 85%) 70%), url(../img/stock-teen.jpg);
    background-size: cover;
    height: 90vh;
}

.cover-text {
    position: absolute;
    top: 60%;
    padding: 50px;
    color: #fff;
    border-radius: 15px;
}

.cover-text a {
    flex-grow: 0;
}

.cover-text h1 {
    font-size: 400%;
    font-weight: 300;
}

.cover-text h1:after {
    display: block;
    height: 2px;
    background-color: #45b8d7;
    content: " ";
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 35px;
}

.cover-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cover-content .btn {
    font-weight: 500;
    border-width: 2px;
}

.cover-text {
    display: flex; 
    
}

.cover-text img {
    width: auto;
    height: 180px;
    margin-right: 30px;
}

/* button primary */
.btn-primary {
    color: rgb(69 184 213);
    background-color: rgb(0 123 255 / 0%);
    border-color: rgb(67 184 215);
}

.btn-primary:hover {
    color: #fff;
    background-color: rgb(67 184 215);
    border-color: rgb(67 184 215);
}

