<footer>
    <div class="footer-wrapper">
        <div class="row">
            <div class="col-sm-6">
                <ul class="footer-nav">
                    <h5>Nuesto Sitio</h5>
                    <li><a href="#">Principal</a></li>
                    <li><a href="#">Recursos</a></li>
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="#">Donde Estamos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="social-icons">
                    <h5>¡Seguinos en las redes!</h5>
                    <div class="icons">
                        <li><a href="#"><ion-icon name="logo-twitter" class="logo-twitter"></ion-icon></a></li>
                        <li><a href="#"><ion-icon name="logo-instagram" class="logo-instagram"></ion-icon></a></li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="row copy">
            <p>Copyright &copy; 2020 by PREPA. Todos los derechos reservados.</p>
        </div>               
    </div>
    <div class="row brand"><a href="https://github.com/SirMathius" target="_blank"><ion-icon name="logo-octocat"></ion-icon>SirMathius</a></div> 
</footer>