<header>
    <nav class="navbar navbar-expand-lg sticky-top">
      <a class="navbar-brand logo" href="/index.html">
        <img src="../../resources/img/logo.png" class="d-inline-block align-top" alt="" loading="lazy">
        PREPA
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse menu" id="navbarNavDropdown">
        <ul class="navbar-nav menu-links">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/views/article.html" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Recursos
            </a>
            <div id="article-main-menu" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"></div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/index.html#about">Sobre nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/index.html#where">Dónde estamos</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/index.html#contact">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>        
</header>